# gradle
.gradle/
build/
out/
classes/

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# macos
*.DS_Store

# fabric
run/

# java
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# project
.env
node_modules/
Release/
monitor.js

# Ignore local builds and secrets
/Release/
.env
monitor.js

# Custom Ignores
Issues/
Release/
.env
monitor.js
check_build.sh
logs/
